/* details-blog */

.details-blog {
  grid-area: left;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  line-height: 2.5em;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}
.details-blog h1,
.details-blog span {
  background-color: gray;
  text-decoration: underline;
  text-align: center;
}
.image {
width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
figure {
  border: 1px #f33c3ccd solid;
  padding: 4px;
}
figcaption {
  background-color: gray;
  color: black;
  font-style: italic;
  text-align: center;
}
ol {
  background: gray;
  font-weight: bold;
  padding-left: 30px;
}

  