* {
  margin: 0px;
  padding: 0px;
}

.body {
  font-family: "Cairo Play", sans-serif;
  background-color: rgba(211, 211, 211, 0.226);
  margin: 0px;
  padding: 0px;
}

.container-hero {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left left left left left menu"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid black;
}
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f33c3c32;
}
.sidebar {
  grid-area: menu;
  background-color: white;
  border: 2px solid orangered;
  margin: 20px;
  padding: 20px;
  text-align: left;
  line-height: 1.8em;
  justify-self: center;
}
.author-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.author-info img {
  height: 30rem;
  width: 35rem;
}
.author-info p {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.social-menu {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.social-menu li {
  font-size: 22px;
  list-style: none;
}
.topic {
  padding-top: 25px;
  font-size: 28px;
}
ul.list-topic {
  list-style-type: circle;
  padding: 20px;
  font-size: 20px;
}
.header h1 {
  font-size: 29px;
  color: black;
  font-weight: 400;
}
.blog-containr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.blog-box {
  grid-area: left;
  width: 650px;
  border: 1px solid orangered;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.blog-img {
  width: 100%;
  height: auto;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.blog-text span {
  color: #f33c3c;
  font-weight: 0.9rem;
}
.blog-text .blog-title {
  font-size: 1.3rem;
  line-height: 1.9;
  font-weight: 500;
  grid-column: 20px;
  color: black;
}
.blog-text .blog-title:hover {
  color: #f33c3c;
  transition: all ease-in 0.3s;
}
.blog-text p {
  color: gray;
  line-height: 1.6;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
 .button {
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid orangered;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f33c3ccd;
  padding: 25px;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: inline-block;
  margin-right: 20px;
}

.footer a {
  color: black;
  text-decoration: none;
}

/* details-blog */

.details-blog {
  grid-area: left;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  line-height: 2.5em;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}
.details-blog h1,
.details-blog span {
  background-color: rgba(250, 235, 215, 0.708);

  text-align: center;
}
.image {
  text-align: center;
  padding-bottom: 20px;
}

ol {
  background: lightgray;
  padding-left: 30px;
}

@media (max-width: 1100px) {
  .container-hero {
    grid-template-areas:
      "header header header header header header"
      "left left left menu menu menu"
      "footer footer footer footer footer footer";
  }
}

@media (max-width: 768px) {
  .container-hero {
    grid-template-areas:
      "header"
      "menu"
      "left"
      "footer";
  }

  .blog-box {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .blog-box {
    width: 650px;
  }
}
@media (max-width: 1100px) {
  .blog-box {
    width: 70%;
  }
}
@media (max-width: 550px) {
  .blog-box {
    margin: 20px 10px;
    width: 100%;
  }
}
