@import "sidebar.css";
@import "card.css";
@import "details.css";
/* 
Colors:
1- black
2-f33c3ccd
3-gray

*/

* {
  margin: 0px;
  padding: 0px;
}

.body {
  font-family: "Cairo Play", sans-serif;
  margin: 0px;
  padding: 0px;
}

.container-hero {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left left left left left menu"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid black;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f33c3ccd;
}

.header h1 {
  font-size: 29px;
  color: black;
  font-weight: 400;
  text-align: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.nav-menu a {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 20px;
}

.nav-menu a:hover {
  background-color: #f33c3ccd;
  font-weight: 700;
  cursor: pointer;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f33c3ccd;
  padding: 25px;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: inline-block;
  margin-right: 20px;
}

.footer a {
  color: black;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .container-hero {
    grid-template-areas:
      "header header header header header header"
      "left left left menu menu menu"
      "footer footer footer footer footer footer";
  }
}

@media (max-width: 768px) {
  .container-hero {
    grid-template-areas:
      "header"
      "menu"
      "left"
      "footer";
  }

  .blog-box {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .blog-box {
    width: 650px;
  }
}
@media (max-width: 1100px) {
  .blog-box {
    width: 70%;
  }
}
@media (max-width: 550px) {
  .blog-box {
    margin: 20px 10px;
    width: 100%;
  }
}
